header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.logo {
  width: 10rem;
  height: 10rem;
  background-image: url(../img/rocket.svg);
  background-size: contain;
}

.menu { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 200px;
}

body {
  margin: 0;
}

.menuItem {
  text-decoration: none;
}

.mainPage {
  text-align: center;
}

body {
  margin: 20px;
}
